<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Scraping</title>

  <script src="/components/jquery/dist/jquery.min.js"></script>
  <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/js/highstock.js"></script>
  <script src="/js/all.js"></script>

  <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <a class="btn btn-primary center-block" href="/movies">Movies</a>
    <a class="btn btn-success center-block" href="/movies">Finances</a>
    <%-  body %>
  </div>
</body>
</html>